.songlist-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
}

.songlist-row {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
    gap: 10px;
}

.songlist-data {
    font-size: 0.95em;
}

.songlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.songlist-table {
    width: 100%;
}

